:root {
    --color-light-blue: #cce2fc;
    --color-blue: #054FA9;
    --color-white: #ffffff;
    --color-black: #242424;
    font-family: "Poppins", sans-serif;
    --box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.3);
}

html {
    scroll-behavior: smooth;
}

* {
    color: var(--color-black);
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

h3 {
    color: var(--color-white);
    font-weight: 500;
}

p,
a {
    line-height: 1.5em;
}

body {
    background-color: var(--color-white);
}

nav {
    z-index: 1;
    background-color: var(--color-white);
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: var(--box-shadow);
}

nav>div {
    width: 100%;
    max-width: 1088px;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

nav>div a img {
    height: 2.25em;
}

nav>div ul {
    gap: 1em;
    align-items: center;
    display: flex;
}

@media (max-width: 768px) {
    nav>div {
        padding: 1em;
    }

    nav>div ul {
        display: none;
    }

    nav>div button {
        display: none;
    }
}

.menu-link {
    position: relative;
    text-decoration: none;
    padding-bottom: 0.25em;
    color: #000;
}

.menu-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    border-radius: 8px;
    /* bulatkan ujung */
    transition: background-color 0.3s ease;
}

.menu-link.active::after {
    background-color: var(--color-blue);
    /* warna garis bawah */
}


nav>div button {
    box-shadow: var(--box-shadow);
    font-size: 0.75rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 2em;
    padding: 1em 1.5em;
    white-space: nowrap;
}

nav>div button:hover {
    transition: 0.3s;
}

body>div {
    /* height: calc(100vh + 72px); */
    height: 100vh;
    width: 100%;
    padding-top: 72px;
    background-color: var(--color-black);
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
}

section:nth-of-type(odd) {
    background-color: var(--color-light-blue);
    box-shadow: var(--box-shadow);
    position: relative;
}

section:nth-of-type(even) {
    background-color: var(--color-white);
}

section>div {
    width: 100%;
    max-width: 1080px;
}

@media (max-width: 768px) {
    section:not(:first-of-type):not(:nth-of-type(5))>div {
        padding: 2em;
    }
}

@media (max-width: 425px) {
    section:not(:first-of-type):not(:nth-of-type(5))>div {
        padding: 1em;
    }
}



section:first-of-type>div {
    display: grid;
    justify-content: center;
    justify-items: center;
}

section:first-of-type>div img {
    box-shadow: var(--box-shadow);
    height: 2.5em;
    padding: 0.75em 3em;
    border-radius: 0 0 1em 1em;
    background-color: var(--color-blue);
    box-sizing: content-box;
}

section:first-of-type>div p {
    text-align: center;
    padding: 1em;
    font-weight: 500;
}

section:nth-of-type(2)>div {

    display: flex;
    padding: 4em;
    gap: 2em;
    flex-wrap: wrap;
    place-content: center;
    place-items: center;
}

section:nth-of-type(2)>div div:first-child {
    flex: 3;
    min-width: 200px;
}

section:nth-of-type(2)>div div:last-child {
    flex: 2;
    min-width: 200px;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}



section:nth-of-type(3)>div {
    display: grid;
    padding: 4em;
    justify-content: left;
}

section:nth-of-type(3)>div>div {
    padding-top: 1em;
    flex-wrap: wrap;
    display: flex;
    gap: 1em;
}

section:nth-of-type(3)>div>div>div {
    box-shadow: var(--box-shadow);
    flex: 1;
    display: flex;
    border-radius: 1em;
    overflow: hidden;
    min-width: 150px;
}

@media (max-width: 900px) {
    section:nth-of-type(3)>div>div>div {
        min-width: 300px;
    }
}

section:nth-of-type(3)>div>div>div>div {

    position: relative;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    background-color: var(--color-blue);
    padding: 1em;
}

section:nth-of-type(3)>div>div>div>div img {

    object-fit: contain;
    height: 3em;
}

section:nth-of-type(3)>div>div>div p {
    width: 100%;
    align-items: center;
    display: flex;
    font-weight: 600;
    padding: 0.5em 1em;
    background-color: var(--color-white);
    font-size: 0.9em;
}

section:nth-of-type(4)>div {
    padding: 4em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 2em;
}

section:nth-of-type(4)>div>div {
    min-width: 280PX;
    flex: 1;
    box-shadow: var(--box-shadow);
    display: grid;
    gap: 1em;
    background-color: var(--color-blue);
    padding: 2em;
    border-radius: 1em;
    overflow: hidden;
}

section:nth-of-type(4)>div>div button {

    display: flex;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    padding: 0.25em 1em;
    align-items: center;
    gap: 0.5em;
    font-size: 1.25em;
    border-radius: 1.25em;
    font-weight: 500;
    width: max-content;
}

@media(max-width:425px) {
    section:nth-of-type(4)>div>div button {
        font-size: 18px;
    }
}

section:nth-of-type(4)>div>div button img {
    width: 1.5em;
}

section:nth-of-type(4)>div>div p {
    color: var(--color-white);
}


@media(max-width:450px) {

    section:nth-of-type(4)>div>div {
        padding: 1em;
    }
}

section:nth-of-type(5)>div {
    justify-content: center;
    justify-items: center;
    display: grid;
}

section:nth-of-type(5)>div>p {
    box-shadow: var(--box-shadow);
    color: var(--color-white);
    padding: 0.75em 3em;
    border-radius: 0 0 1em 1em;
    background-color: var(--color-blue);
    font-weight: 500;
}

section:nth-of-type(5)>div>div {
    display: flex;
    padding: 1em;
    gap: 15vw;
}

section:nth-of-type(5)>div>div img {
    width: 6VW;
    min-width: 4EM;
}

section:nth-of-type(6)>div {
    justify-items: center;
    display: grid;
    padding: 4em;
}


section:nth-of-type(6)>div>div {
    padding-top: 1em;
    display: grid;
    gap: 1em;
}


/* section:nth-of-type(6)>div>div>div {
    border-radius: 1em;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease;
} */

/*  
section:nth-of-type(6)>div>div>div>button {
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: var(--color-blue);
    padding: 0.5em 2em;
    box-shadow: var(--box-shadow);
}

section:nth-of-type(6)>div>div>div>button p {

    color: var(--color-white);
}

section:nth-of-type(6)>div>div>div>button i {
    font-size: 1.5em;
    color: var(--color-white);
}

section:nth-of-type(6)>div>div>div>p {
    padding: 0.5em 2em;
} */


.faq-item {

    border-radius: 1em;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease;
}

.faq-item button {

    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: var(--color-blue);
    padding: 0.5em 2em;
    box-shadow: var(--box-shadow);
    transition: 0.3s;
}


.faq-item button p {
    color: var(--color-white);


}

.faq-item button i {
    transform: rotate(90deg);
    transition: transform 0.3s;

    font-size: 1.5em;
    color: var(--color-white);
}

.faq-answer {

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.faq-answer p {
    padding: 0.5em 2em;
}

.faq-item.active .faq-answer {
    max-height: 5em;
    /* cukup besar agar isi bisa muncul penuh */
}

.faq-item.active button i {
    transform: rotate(180deg);
    /* dari + jadi x */
}

footer {
    box-shadow: var(--box-shadow);
    display: flex;
    background-color: var(--color-black);
    justify-content: center;
}

footer p,
footer a {
    color: var(--color-white);
    font-weight: 300;
}

footer>div {
    gap: 4em;
    max-width: 1088px;
    padding: 4em 2em 2em 2em;
    display: grid
}

footer>div>div:first-child {

    gap: 2em;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    footer>div>div:first-child {
        display: grid;
    }
}

footer>div>div:first-child>div {
    display: grid;
    align-items: start;
    gap: 1em;
    align-content: start;
}

footer>div>div:first-child>div:first-child {
    flex: 3;
}

footer>div>div:first-child>div:first-child img {
    height: 3em;
}

footer>div>div:first-child>div:nth-child(2) {
    flex: 2;
}

footer>div>div:first-child>div:nth-child(2) ul {
    display: grid;
    gap: 0.5em;
}

footer>div>div:first-child>div:nth-child(2) ul li {
    gap: 0.5em;
    align-items: start;
    display: flex;

}

footer>div>div:first-child>div:nth-child(2) ul li img {
    height: auto;
    width: 1.5em;
    object-fit: contain;
}

footer>div>div:first-child>div:last-child {
    flex: 1;

}

footer>div>div:first-child>div:last-child ul {
    list-style-type: disc;
    padding-left: 1.5em;
    display: grid;
}

footer>div>div:first-child>div:last-child ul li::marker {
    color: var(--color-white);
}

footer>div>div:last-child a {
    display: flex;
    justify-content: center;
    color: var(--color-blue);
}

footer>div>div:last-child a:hover {
    transition: 0.3s;
    color: var(--color-light-blue);
}